<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=<h>, initial-scale=1.0">
    <link rel="stylesheet" href="login-grid.component.css">
    <title>Login Grid</title>
</head>
<body>
    <h1 class="h1">Login Grid</h1>
<div class="grid">
 <div><strong>Name</strong></div>
 <div><strong>Phone</strong></div>
 <div><strong>Email</strong></div>
 <div><strong>Address</strong></div>
 <div><strong>Postal Zip</strong></div>
 <div>Kareem Carrillo</div>
 <div>0419639636</div>
 <div>ullamcorper.nisl.arcu@yahoo.ca</div>
 <div>171-5300 Pede. Rd.</div>
 <div>57458</div>
 <div>Cathleen Day</div>
 <div>0569636539</div>
 <div>C@gmail.com </div>
 <div>97 Kok street</div>
 <div>5963</div>
 <div>Bob Hope</div>
 <div>0639686354</div>
 <div>b@gmail.com</div>
 <div>12 Glory road</div>
 <div>1520</div>
 <div>Sally Field </div>
 <div>0239686352</div>
 <div>s@gmail</div>
 <div> 54 Baker road </div>
 <div>9632</div>
 <div>Benjamin Button</div>
 <div>0963698745</div>
 <div>b@gmail.com</div>
 <div>62 Bony road</div>
 <div>6321</div>
 <div>Jurgen Klopp</div>
 <div>0236985214</div>
 <div>j@gmail.com</div>
 <div>85 Anfield road</div>
 <div>6325</div>
 <div>Mike Tyson</div>
 <div>05632014</div>
 <div>m@gmail.com</div>
 <div>75 New street</div>
 <div>23659</div>
 <div>Kane May</div>
 <div>085693541</div>
 <div>k@gmail.com</div>
 <div>36 Hot road</div>
 <div>23658</div>
 <div>Pam Mayton</div>
 <div>0258963541</div>
 <div>p@gmail.com</div>
 <div>69 Golding street</div>
 <div>32561</div>
 
</div>
</body>
</html>
